.home-punch {
  margin-top: 11vh;
  margin-left: 12vw;
  padding: 5% 8%;
  width: 69vw;
  height: 23vh;
  z-index: 0;
}
#home-opening-line {
  font-size: 2.5vw;
  margin-bottom: 3vh;
  color: #251D3A;
}
#home-opening-sub{
  color: #534E52;
  font-size: 1.2vw;
}
.home-opening-btn {
  border: 2px solid #001E6C;
  background-color: transparent;
  font-size: 1vw;
  margin-top: 5%;
  padding: 1.75% 4%;
  color: #001E6C;
  transition: all 0.4s;
}
.home-opening-btn:hover {
  background-color: #001E6C;
  color: white;
}
.home-aboutus {
  width: 74vw;
  height: 35vh;
  margin: 2vh 0 0 16vw;
  padding: 4% 5%;
  background-color: #F8CB2E;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  background-image: url("https://www.freepngimg.com/save-icon/75322-things-of-euclidean-vector-internet-technology-icon/1500x1500");
  background-size: 500px 500px;
  background-repeat: no-repeat;
  background-position: right;
}
#home-aboutus-label {
  font-size: 4vw;
  color: #15133C;
  margin-bottom: 4vh;
}
#home-aboutus-info {
  text-align: justify;
  font-family: 'GlacialIndifferenceRegular';
  font-size: 1.5vw;
  margin-bottom: 5vh;
  width: 50vw;
}
.bulsu-vmgo{
  margin-top: 19vh;
}
#vmgo-label{
  text-align: center;
  color: #15133C;
  margin: 6vh 0;
  font-size: 3vw;
}
.vmgo-vision,
.vmgo-mission{
  width: 34vw;
  font-size: 1.35vw;
  display: inline-block;
  background-color: #F4F6F6;
  padding: 4vh 1vw;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  transition: all 0.7s;
}
.vmgo-mission{
  margin-left: 2vw;
}
.vmgo-mission:hover, 
.vmgo-vision:hover{
  transform: translateY(-0.2em);
}
.vmgo-goals{
  margin-top: 10vh;
  width: 82.9vw;
  margin-left: -5.9vw;
  padding: 5vh 0 1vh 2vw;
  background-color: #f3f3f3;
}
.vmgo-goals pre{
  font-size: 1.3vw;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.vmgo-objective{
  width: 82.9vw;
  padding: 5vh 0 3vh 2vw;
  margin-left: -6vw;
  background-color: #f3f3f3;
}
.vmgo-objective pre{
  font-size: 1.3vw;
  white-space: pre-wrap;
  word-wrap: break-word;
}
#vmgo-goals-label,
#vmgo-objective-label{
  text-align: center;
  margin-bottom: 4vh;
  font-size: 2vw;
}
.announcement-content{
  width: 80%;
  background-color: #fafafa;
  padding: 3% 2%;
  margin-left: 15.5%;
  margin-top: 7%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
}
.body-home {
  position: absolute;
  z-index: -1;
  min-height: 100vh;
  height: auto;
  width: 100%;
  background-color: #fafafa;
}
.home-get-started {
  margin: 2vh 0 7vh -8vw;
  width: 100vw;
  height: 25vh;   
  padding: 5vh 1vw;
  color: rgb(0, 0, 0);
  background-color: #D7A86E;
}
#home-bulsu-logo {
  width: 11vw;
  margin: 1% 0 0 4%;
}
#home-bulsu-logo,
.to-tutorial {
  display: inline-block;
  vertical-align: middle;
}
.to-tutorial {
  margin-left: 6vw;
}
#system-title-label {
  font-size: 2vw;
  margin-bottom: 2.5%;
  color: #15133C;
}
#tutorial-sub-desc {
  font-size: 1.2vw;
  margin-bottom: 2.5%;
  width: 45vw;
  color: #0d0c24;
}
#navigate-tutorial {
  border: 2px solid #251D3A;
  font-size: 0.9vw;
  background-color: transparent;
  margin-top: 2%;
  padding: 2% 4%;
  font-weight: 550;
  color: #251D3A;
  transition: all 0.4s;
}
#navigate-tutorial:hover {
  background-color: #251D3A;
  color: white;
}
@media only screen and (max-width: 768px){
  .home-punch{
    z-index: -1;
    margin-top: 18vh;
    margin-left: 0;
    width: 83.95vw;
    height: 20vh;
  }
  #home-opening-line{
    font-size: 3.8vw;
  }
  #home-opening-sub{
    font-size: 2.5vw;
  }
  .home-opening-btn{
    padding: 3% 6%;
    font-size: 1.7vw;
  }
  .home-aboutus{
    z-index: -1;
    width: 90vw;
    height: 20vh;
    margin-left: 0;
    margin-top: 8vh;
    border-radius: 0;
  }
  #home-aboutus-label{
    font-size: 4vw;
  }
  #home-aboutus-info{
    font-size: 2.5vw;
    padding: 0;
  }
  #home-bulsu-logo{
    width: 15vw;
  }
  .bulsu-vmgo{
    margin-top: -2vh;
  }
  #vmgo-label{
    font-size: 5vw;
  }
  .vmgo-vision,
  .vmgo-mission{
    width: 42vw;
    font-size: 1.75vw;
    text-align: justify;
  }
  .vmgo-goals{
    width: 97.75vw;
  }
  .vmgo-goals pre,
  .vmgo-objective pre{
    font-size: 1.75vw;
  }
  #vmgo-goals-label,
  #vmgo-objective-label{
    font-size: 3vw;
  }
  .vmgo-objective{
    width: 97.75vw;
  }
  .home-get-started{
    z-index: -1;
    width: 100vw;
    padding: 2vh;
  }
  #home-bulsu-logo{
    margin-top: 3vh;
    width: 15vw;
  }
  .to-tutorial{
    margin-top: 5vh;
    margin-left: 7vw;
  }
  #system-title-label{
    font-size: 4vw;
  }
  #tutorial-sub-desc{
    font-size: 2.5vw;
    width: 70vw;
  }
  .announcement-content{
    margin: 20vh 0 5vh 8vw;
  }
  #navigate-tutorial{
    padding: 2.5% 5%;
    font-size: 2vw;
  }
}