/*Announcement Label*/
.announcement {
  margin: 1em;
  margin-top: 1.2em;
  text-align: center;
}
/*Background for class announcements*/
.announcement-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*Background per announcement*/
.announcement-box {
  background-color: #DFD8CA;
  background-image: url('https://www.nicepng.com/png/full/874-8745231_announcement-announce-icon-png-white.png');
  background-size: 150px 150px;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  width: 30em;
  min-height: 5em;
  height: auto;
  margin: 2%;
  padding: 4% 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 1s;
}
.announcement-box:hover {
  background-color: #D2D3C9;
  transform: translateY(-0.2em);
  cursor: pointer;
}
/*Title per announcement*/
.announcement-title {
  font-size: 1.3em;
  padding: 1em;
}
/*Date per announcement*/
.announcement-date {
  padding: 0.5em;
}
/*Self explanatory*/
.hr {
  width: 60vw;
}
@media only screen and (max-width: 600px){
  .announcement{
    font-size: 3vw;
  }
  .announcement-box{
    padding: 1% 0.5%;
  }
}