#log-btn {
  color: white;
  padding-left: 14%;
}
#reg-btn {
  padding-left: 25%;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, #e42929, #ff105f);
  border-radius: 30px;
  transition: 0.5s;
}
.btn-box {
  background-color: white;
  width: 45%;
  height: 7%;
  margin: 9% auto 0 auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 2em;
}
.toggle-btn {
  cursor: pointer;
  background: transparent;
  font-size: 23px;
  padding-top: 4.5%;
  border: 0;
  outline: none;
  position: relative;
}

.box {
  height: 60px;
  background-color: white;
  display: flex;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 2em;
}
.option {
  height: 100%;
  width: 50%;
  border-radius: 2em;
  text-align: center;
  font-size: 23px;
  line-height: 55px;
  cursor: pointer;
}
.option-login {
  background: linear-gradient(to right, #e42929, #ff105f);
  color: white;
}
.option-register {
  background: linear-gradient(to right, #e42929, #ff105f);
  color: white;
}
