@import url("navigation.css");

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
body{
    background-color: #FAFAFA;
}
.home-content{
    background-color: antiquewhite;
    position: absolute;
    width: 80%;
    height: 50%;
    margin-top: 15%;
    margin-left: 17.5%;
}