.cards {
  margin: 1vw 1vw 1vw 2vw;
  width: 90%;
  padding: 35px 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}
.number {
  font-size: 3vw;
  font-weight: bold;
}
.card-name {
  color: #8C0000;
  font-weight: 600;
}
