.cards {
  margin: 1vw 1vw 1vw 20vw;
  width: 70vw;
  padding: 35px 20px;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-gap: 2vw;
}
.number {
  font-size: 3vw;
  font-weight: bold;
}
.card-name {
  color: #8c0000;
  font-weight: 600;
}
.vmgo-edit {
  position: absolute;
  right: 4%;
  position: absolute;
  top: 45%;
  width: 10vw;
  font-size: 1vw;
  padding: 1% 0;
  border: none;
  background-color: #8c0000;
  color: rgb(255, 255, 255);
  border: 2px solid white;
  transition: all 0.5s;
}
.report-gen-btn {
  position: absolute;
  right: 15%;
  top: 45%;
  width: 10vw;
  font-size: 1vw;
  padding: 1% 0;
  border: none;
  background-color: #8c0000;
  color: rgb(255, 255, 255);
  border: 2px solid white;
  transition: all 0.5s;
}

.report-gen-btn:hover,
.vmgo-edit:hover {
  background-color: #8c0000;
  color: white;
  transform: translateY(-0.15em);
}
