.cards {
  margin: 1vw 1vw 1vw 20vw;
  width: 70vw;
  padding: 35px 20px;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-gap: 2vw;
}
.number {
  font-size: 3vw;
  font-weight: bold;
}
.card-name {
  color: #8C0000;
  font-weight: 600;
}
