.admin-request-content {
  position: relative;
  width: 60vw;
  min-height: 60vh;
  margin-top: 14vh;
}
.admin-request-content table {
  background-color: #fff;
}
.admin-request-content p {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 7vh auto 4vh auto;
}
.admin-request-content tr,
.admin-request-content th {
  padding: 1.75%;
  transition: all 1s;
}
#request-log {
  width: 100%;
  overflow: scroll;
}
.admin-request-content tr:not(:first-child):hover{
  transform: scale(1.04);
}
.admin-request-content tr:not(:first-child){
  background-color: white;
}
.admin-pending-request {
  background-color: white;
  /* border: solid 1em #8c0000; */
  width: 97.5%;
  height: 10vh;
  text-align: center;
  vertical-align: center;
  border-radius: 10px;
}
.admin-pending-request h1 {
  margin-top: 3vh;
}
.body-container {
  height: 150vh;
}
.no-requests {
  outline: 1px solid red;
  height: 6em;
  width: 40em;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2em #8c0000 solid;
  border-radius: 20px;
}
