.admin-login-bg {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f2eee0;
}
.admin-login-picname {
  padding: 5vh 0 1vh 27vw;
  margin-bottom: 3vh;
}
#admin-logo {
  width: 5vw;
}
#admin-site-name {
  font-size: 2.75vw;
  color: #8c0000;
}
#admin-logo,
#admin-site-name {
  display: inline-block;
  vertical-align: middle;
}
#admin-login-label {
  font-size: 1.65vw;
  margin-bottom: 1.5vh;
}
.admin-input {
  margin: 2vh auto 3vh auto;
  background-color: #eae9e9;
  box-shadow: 0 5px 10px 3px rgb(0, 0, 0, 0.5);
  border-radius: 1em;
  width: 30vw;
  padding: 1.75vh 2vw;
}
.admin-input h4 {
  margin-bottom: 1.5vh;
}
.admin-login-labels {
  margin-bottom: 1.5vh;
  margin-left: 1vw;
}
.admin-input-fields {
  background-color: white;
  border: none;
  height: 5vh;
  width: 28vw;
  margin-bottom: 1vh;
  margin-left: 1vw;
  font-size: 1vw;
  box-shadow: 0 2.5px 8px 1px rgb(0, 0, 0, 0.2);
}
#admin-login-btn {
  height: 5vh;
  width: 20vw;
  margin: 4vh 0 4vh 5vw;
  border: none;
  background-color: #de834d;
  color: white;
  font-size: 1.15vw;
  border-radius: 1em;
  transition: all 0.3s;
}
#admin-login-btn:hover {
  background-color: #a3423c;
  cursor: pointer;
}
