#report-body {
  background-color: white;
  width: 21cm;
  height: 29cm;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#report-container {
  height: 100%;
  width: 16cm;
  margin-left: 2.5cm;
  margin-right: 2.5cm;
  outline: 1px solid green;
}
