#logreg-design {
  position: absolute;
  margin-top: 12%;
  margin-left: 5%;
}
.logo-name-icon {
  white-space: nowrap;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media only screen, (max-width: 600px) and (min-width: 601px){
  #logreg-design{
    display: none;
  }
  .logo-name-icon{
    margin: 3%;
  }
  #site-name{
    display: none;
  }
}