.logreg-body {
  margin-left: auto;
  background-color: #eeeeee;
  width: 51%;
  min-height: 100vh;
  height: auto;
  border-top-left-radius: 5em;
  border-bottom-left-radius: 5em;
  box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.5);
  float: right;
}
@media only screen and (max-width: 768px){
  .logreg-body{
    width: 100vw;
    border-radius: 0;
  }
}