.btn-box {
  background-color: white;
  width: 45%;
  height: 7%;
  margin: 9% auto 0 auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 2em;
}
.box {
  height: 60px;
  background-color: white;
  display: flex;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 2em;
}
.option {
  height: 100%;
  width: 50%;
  border-radius: 2em;
  text-align: center;
  font-size: 23px;
  line-height: 60px;
  cursor: pointer;
}
.option-login {
  background: linear-gradient(to right, #e42929, #ff105f);
  color: white;
  transition: 0.3s;
}
.option-login:hover {
  transform: translateY(-0.15em);
}
.option-register {
  background: linear-gradient(to right, #e42929, #ff105f);
  color: white;
  transition: 0.3s;
}
.option-register:hover {
  transform: translateY(-0.15em);
}
@media only screen and (max-width: 1464px){
  .btn-box{
    margin-top: 15%;
  }
}