#btn-forgot {
  background-color: #810000;
  border: none;
  color: white;
  font-size: 17px;
  padding: 3% 0;
  border-radius: 1em;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 95%;
}
#btn-forgot:hover {
  background-color: #e42929;
  cursor: pointer;
}
