.notifications {
  z-index: 1;
  position: absolute;
  right: 2vw;
  min-height: 10vh;
  max-height: 50vh;
  /* width: 28vw; */
  width: fit-content;
  background-color: white;
  border-radius: 1em;
  margin-top: 0.7vh;
  padding: 1vw;
  box-shadow: 3px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
.notifications h2 {
  margin-left: 0.5vw;
  font-size: 1.3vw;
  padding: 0.5vw;
}
.notifications hr {
  width: 18vw;
  margin-left: 1vh;
}
.notifications h3 {
  text-align: center;
  margin-top: 1vh;
  padding: 2vw;
}
.notification {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.8vw;
  padding-top: 1vh;
  height: 3vh;
  margin-left: -0.3vw;
  /* width: 100%; */
  width: fit-content;
}
.notification:hover {
  background-color: rgb(201, 196, 196);
}
@media only screen and (max-width: 768px){
  .notifications {
    width: 25vw;
    right: 6vw;
    margin-top: 0;
  }
  .notifications h2 {
    font-size: 2vw;
  }
  .notifications hr {
    width: 22vw;
  }
  .notifications h3 {
    font-size: 2.3vw;
  }
}
