.notifications {
  z-index: 1;
  position: absolute;
  right: 2vw;
  min-height: 10vh;
  max-height: 50vh;
  width: 20vw;
  background-color: rgb(233, 230, 230);
  border-radius: 1em;
  margin-top: 2em;
  padding: 0.5em;
  box-shadow: 3px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
.notifications h2 {
  margin-left: 1em;
}
.notifications hr {
  width: 19vw;
  margin-left: 1vh;
}
.notifications h3 {
  text-align: center;
  margin-top: 1em;
}
.notification {
  padding-left: 0.8vw;
  padding-top: 1vh;
  height: 3vh;
  margin-left: -0.3vw;
  width: 100%;
}
.notification:hover {
  background-color: rgb(201, 196, 196);
}
