#home-nav {
  margin-top: 17vh;
}
.active {
  background-color: #862323;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 15vw;
  background-color: #810000;
  position: fixed;
  height: 100vh;
  overflow: auto;
}
.sidebar span {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
  padding: 15%;
}
.sidebar span:hover {
  background-color: #862323;
}
.name-logo {
  margin: 1vh 0 0 0.5vw;
  white-space: nowrap;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media only screen and (max-width: 768px){
  .sidebar{
    position: fixed;
    z-index: 0;
    margin-top: 8vh;
    width: 100vw;
    height: 7.5vh;
  }
  .sidebar span{
    display: inline-block;
    padding: 0;
    padding: 2.8vh 8.13vw;
    font-size: 2vw;
  }
  #home-nav{
    margin: 0;
  }

}