.top-navigation {
  z-index: 1;
  top: 0;
  position: fixed;
  margin-left: 15vw;
  background-color: white;
  width: 85vw;
  height: 9.3vh;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
#search-bar {
  margin-top: 1.5vh;
  margin-left: 2.5vw;
  border: none;
  width: 19vw;
  height: 6.5vh;
  border-radius: 2em;
  background-color: #eeeeee;
  color: #707070;
  font-size: 1vw;
  padding: 0% 2%;
}
#profile-icon {
  border-radius: 50%;
  width: 4vw;
  vertical-align: middle;
  margin-left: 32.5vw;
  cursor: pointer;
}
.name-type {
  top: 0;
  position: fixed;
  vertical-align: middle;
  margin-right: 5vw;
  margin-top: 2vh;
  margin-left: 62vw;
  width: 10vw;
}
.name-type:hover {
  cursor: pointer;
}
#user-name {
  color: black;
  font-size: 1vw;
  font-weight: bold;
}
#user-type {
  color: black;
  font-size: 0.9vw;
}
#message-icon {
  width: 2.5vw;
  position: absolute;
  margin-top: 1.75vh;
  margin-left: 12vw;
  padding: 0.25% 0.25%;
  border-radius: 6em;
}
#message-icon:hover {
  background-color: #e2e2e2;
}
#notify-bell {
  width: 1.5vw;
  position: absolute;
  margin-top: 1.75vh;
  margin-left: 16.5vw;
  padding: 0.75%;
  border-radius: 6em;
}
#notify-bell:hover {
  background-color: #e2e2e2;
}
#dropdown-icon {
  position: absolute;
  margin-top: 1.85vh;
  width: 1vw;
  padding: 1.25% 1.05%;
  border-radius: 6em;
  right: 0;
  margin-right: 0.5vw;
}
#dropdown-icon:hover {
  background-color: #e2e2e2;
}
/* For Dropdown Top Nav */
.dropdown-content {
  z-index: 1;
  position: absolute;
  right: 0;
  margin-top: 0.8vh;
  background-color: white;
  height: auto;
  padding: 1.5% 0.25%;
  width: 12vw;
  border-radius: 0.5em;
  box-shadow: 3px 0px 4px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}
hr {
  border: 0.02px solid rgba(0, 0, 0, 0.2);
  width: 11vw;
  margin-left: 0.5vw;
}
#edit-profile-nav,
#edit-profile-icon {
  display: inline-block;
  margin-left: 2vw;
  margin-bottom: 1.5vh;
}
a {
  text-decoration: none;
  color: black;
}
#edit-profile-nav:hover {
  cursor: pointer;
}
#logout-profile,
#logout-icon {
  display: inline-block;
  margin-left: 2vw;
  margin-top: 1.5vh;
}
#logout-profile {
  cursor: pointer;
}
li {
  list-style-type: none;
}
.space {
  padding-left: 0.5em;
}

.suggestion-list {
  z-index: 1;
  margin-left: 3.65vw;
  position: absolute;
  background-color: #eeeeee;
  width: 20vw;
}
.suggestions {
  color: #707070;
  padding: 1em 0 1em 2em;
  font-size: 1em;
  width: 14vw;
}
.suggestions:hover {
  background-color: #cfc6c6;
  width: 18vw;
}
.show {
  display: block;
}
.hide {
  display: none;
}
@media only screen and (max-width: 768px) {
  .top-navigation {
    height: 8vh;
    margin: 0;
    width: 100vw;
  }
  #search-bar {
    margin-top: 1.5vh;
    width: 30vw;
    height: 5vh;
    font-size: 1.65vw;
    margin-bottom: 2vh;
  }
  #profile-icon {
    width: 6vw;
    margin-left: 18vw;
  }
  .name-type {
    width: 12vw;
    margin-top: 2vh;
    margin-left: 62vw;
  }
  #user-name {
    font-size: 1.35vw;
  }
  #user-type {
    font-size: 1.15vw;
  }
  #message-icon {
    width: 5vw;
    margin-top: 1vh;
    margin-left: 17vw;
    padding: 0.5vw;
  }
  #notify-bell {
    width: 2.5vw;
    margin-top: 1.25vh;
    margin-left: 25vw;
    padding: 1.5vh 1.6vw;
  }
  #dropdown-icon {
    margin-top: 1.25vh;
    width: 2.5vw;
    padding: 2vw 1.55vw;
    right: 0;
    margin-right: 1vw;
  }
  .dropdown-content {
    margin-top: 0.1vh;
    width: 20vw;
    z-index: 2;
  }
  hr {
    width: 17vw;
  }
  #edit-profile-nav,
  #logout-profile {
    font-size: 2vw;
  }
  .suggestion-list {
    z-index: 2;
    width: 32.5vw;
    top: 0;
    margin-top: 7vh;
  }
  .suggestions {
    font-size: 1.75vw;
  }
  #bulsu-logo,
  #site-name {
    display: none;
  }
}
