#search-bar {
  margin-top: 1%;
  margin-left: 3%;
  border: none;
  width: 21%;
  height: 5.8vh;
  border-radius: 2em;
  background-color: #eeeeee;
  color: #707070;
  font-size: 1vw;
  padding: 0% 2%;
}
#search-btn {
  left: 0;
  position: absolute;
  margin-left: 25%;
  margin-top: 1%;
  background: url("http://www.clker.com/cliparts/9/T/2/h/X/7/search-icon-hi.png")
    no-repeat;
  background-size: 60%;
  background-position: center;
  border: none;
  width: 2.5vw;
  height: 5.8vh;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  background-color: #8c0000;
}
#search-btn:hover {
  background-color: #a20a0a;
}
#profile-icon {
  width: 4%;
  vertical-align: middle;
  margin-left: 40%;
  cursor: pointer;
}
.name-type {
  top: 0;
  position: absolute;
  margin-right: 5%;
  margin-top: 1.3%;
  margin-left: 73%;
  width: 10vw;
  text-align: justify;
}
.name-type:hover {
  cursor: pointer;
}
#user-name {
  color: black;
  font-size: 1vw;
  font-weight: bold;
}
#user-type {
  color: black;
  font-size: 0.9vw;
}
#message-icon {
  width: 3%;
  position: absolute;
  margin-top: 1%;
  margin-left: 15%;
  padding: 0.25% 0.25%;
  border-radius: 6em;
}
#message-icon:hover {
  background-color: #e2e2e2;
}
#notify-bell {
  width: 1.7%;
  position: absolute;
  margin-top: 1%;
  margin-left: 19.5%;
  padding: 0.75%;
  border-radius: 6em;
}
#notify-bell:hover {
  background-color: #e2e2e2;
}
#dropdown-icon {
  position: absolute;
  margin-top: 1%;
  width: 1%;
  padding: 1.25% 1.05%;
  border-radius: 6em;
  margin-left: 24%;
  margin-left: 15%;
}
#dropdown-icon:hover {
  background-color: #e2e2e2;
}
.top-navigation {
  z-index: 1;
  top: 0;
  position: fixed;
  margin-left: 15%;
  background-color: white;
  width: 85%;
  height: 9.3vh;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}

/* For Dropdown Top Nav */
.dropdown-content {
  position: absolute;
  right: 0;
  margin-top: 0.61%;
  background-color: white;
  height: auto;
  padding: 1.5% 0.25%;
  width: 12vw;
  border-radius: 0.5em;
  box-shadow: 3px 0px 4px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}
hr {
  border: 0.02px solid rgba(0, 0, 0, 0.2);
  width: 11.5vw;
  margin-left: 12%;
}
#edit-profile-nav,
#edit-profile-icon {
  display: inline-block;
  margin-left: 15%;
  margin-bottom: 6%;
}
a {
  text-decoration: none;
  color: black;
}
#edit-profile-nav:hover {
  cursor: pointer;
}
#logout-profile,
#logout-icon {
  display: inline-block;
  margin-left: 15%;
  margin-top: 6%;
}
#logout-profile {
  cursor: pointer;
}
li {
  list-style-type: none;
}
.space {
  padding-left: 0.5em;
}

.suggestion-list {
  z-index: 1;
  margin-left: 3.75%;
  position: absolute;
  background-color: #eeeeee;
  width: 21.25%;
}
.suggestions {
  color: #707070;
  padding: 1em 0 1em 2em;
  font-size: 1em;
  width: 14vw;
}
.suggestions:hover {
  background-color: #cfc6c6;
  width: 88.2%;
}
