#edit-profile {
  position: absolute;
  width: 16vw;
  margin: 16.8% 0 0 72%;
  margin: 16.8% 0 0 52%;
  font-size: 1.2vw;
  padding: 1.5% 0;
  border: none;
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  border: 2px solid white;
  transition: all 0.5s;
}
#change-password:hover,
#edit-profile:hover {
  cursor: pointer;
  background-color: #850606;
  color: white;
  transform: translateY(-0.15em);
}
#change-password {
  position: absolute;
  width: 16vw;
  margin: 16.8% 0 0 76%;
  font-size: 1.2vw;
  padding: 1.5% 0;
  border: none;
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  border: 2px solid white;
  transition: all 0.5s;
}
#name-of-user {
  width: 20vw;
  text-align: center;
  font-size: 2.45vw;
  margin: 0 0 1% 10%;
}
#profile-email,
#profile-number,
#profile-bday {
  font-size: 1.25vw;
  font-style: italic;
  text-align: center;
}
#profile-picture {
  margin: 8% 0 0 10%;
  height: 34vh;
  width: 17vw;
  object-fit: cover;
  border-radius: 50%;
  border: 12px solid white;
}
#user-account-type {
  font-size: 1.5vw;
  margin: 0 0 1% 19%;
  font-style: italic;
}
#user-number {
  font-size: 1.5vw;
  font-style: italic;
  margin-left: 17%;
}
#vertical-line {
  position: absolute;
  top: 0;
  border-left: 1px solid gray;
  height: 50%;
  margin: 25% 0 0 53%;
}
.profile-header {
  width: 100%;
  height: 40%;
  background: transparent no-repeat;
  background-size: cover;
  background: url("../../UI/Home_UI/Icons/bulsu.jpg");
  /* background: url("Icons/bulsu.jpg"); */
}
.user-profile {
  z-index: -1;
  position: absolute;
  bottom: 0;
  height: 80vh;
  width: 70vw;
  background-color: white;
  box-shadow: 0px 3px 5px 0px;
  top: 0;
  margin-top: 7%;
  margin-left: 22.5%;
}
.user-profile-email {
  position: absolute;
  top: 0;
  margin: 26% 0 0 57%;
  width: 25vw;
  height: 5vh;
  padding: 1% 2%;
  background-color: white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
.user-profile-email:hover {
  transform: translateY(-0.15em);
}
.user-profile-number {
  position: absolute;
  top: 0;
  margin: 36% 0 0 57%;
  width: 25vw;
  height: 5vh;
  padding: 1% 2%;
  background-color: white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
.user-profile-number:hover {
  transform: translateY(-0.15em);
}
.user-profile-bday {
  position: absolute;
  top: 0;
  margin: 46% 0 0 57%;
  width: 25vw;
  height: 5vh;
  padding: 1% 2%;
  background-color: white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
.user-profile-bday:hover {
  transform: translateY(-0.15em);
}
@media only screen and (max-width: 600px){
  .user-profile{
    width: 90vw;
    margin: 30% 0 0 6%;
    height: 55vh;
  }
  #profile-picture{
    margin: 9% 0 0 8%;
    height: 25vh;
    width: 30vw;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid white;
  }
  #name-of-user {
    width: 25vw;
    text-align: center;
    font-size: 3vw;
    margin: 0 0 1% 13%;
  }
  #user-account-type{
    margin-left: 21%;
    font-size: 2.5vw;
  }
  #user-number{
    margin-left: 18%;
    font-size: 2.5vw;
  }
  #vertical-line {
    margin: 30% 0 0 53%;
  }
  .user-profile-email, 
  .user-profile-number, 
  .user-profile-bday{
    width: 33vw;
  }
  .user-profile-email{
    margin-top: 30%;
  }
  .user-profile-number{
    margin-top: 42%;
  }
  .user-profile-bday{
    margin-top: 54%;
  }
  #profile-email,
  #profile-number,
  #profile-bday {
    font-size: 2vw;
  }
  #edit-profile{
    width: 20vw;
    height: 5vh;
    font-size: 2vw;
    margin-top: 20%;
  }
  #change-password{
    width: 20vw;
    height: 5vh;
    font-size: 2vw;
    margin-top: 20%;
  }
}