#copyright-bulsu {
  color: #606060;
  width: 30vw;
  margin-top: 4vh;
}
#copyright-bulsu::before {
  content: "\00a9";
  color: #606060;
  margin-right: 0.5%;
  margin-left: 3vw;
}
#footer-fb {
  color: rgb(190, 190, 190);
  font-size: 1.1vw;
}
#footer-label {
  color: rgb(190, 190, 190);
  font-size: 1.25vw;
  margin: 1vh 0 0 50vw
}
#footer-uni {
  color: white;
  font-size: 2vw;
  width: 15vw;
  position: absolute;
  margin-top: 0.8em;
  margin-left: 3%;
}
.fb-icon,
#footer-fb {
  display: inline-block;
}
#footer-phone {
  color: rgb(190, 190, 190);
  font-size: 1.1vw;
}
.email-icon,
#footer-email {
  display: inline-block;
}
#footer-email {
  color: rgb(190, 190, 190);
  font-size: 1.1vw;
}
.email-icon {
  background-color: #911f27;
  padding: 1.5% 2%;
  border-radius: 0.25em;
}
.fb-icon {
  background-color: #911f27;
  padding: 1.5% 2.5%;
  border-radius: 0.25em;
  margin-bottom: 1.5%;
}
.footer {
  width: 83vw;
  height: 20vh;
  /* bottom: 0; */
  margin-top: 190vh;
  margin-left: 15%;
  background-color: #262626;
  padding: 1%;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
.footer-contact {
  margin: 5vh 0 0 36vw;
  width: 50vw;
  height: 6vh;
  display: flex;
  flex-wrap: wrap;
}
.contact {
  width: 25vw;
}
.loc-icon {
  background-color: #911f27;
  padding: 1.5% 2.25%;
  border-radius: 0.25em;
  margin-bottom: 1.5%;
}
.loc-icon,
#footer-loc {
  display: inline-block;
}
#footer-loc {
  color: rgb(190, 190, 190);
  font-size: 1.1vw;
}
.phone-icon,
#footer-phone {
  display: inline-block;
}
.phone-icon {
  background-color: #911f27;
  padding: 1.5% 1.7%;
  border-radius: 0.25em;
  margin-bottom: 1.5%;
}
.size {
  font-size: 1.25em;
}
.contact-space {
  margin-left: 0.5em;
}
@media only screen and (max-width: 768px){
  .footer{
    margin-top: 155vh;
    margin-left: 0;
    width: 100vw;
    height: 32vh;
    padding: 1vh 1vw;
  }
  #footer-uni{
    font-size: 3vw;
    width: 30vw;
    margin: 5% 0 0 2%;
  }
  #copyright-bulsu{
    font-size: 2vw;
    width: 35vw;
    margin-left: -3%;
    margin-top: 17vh;
  }
  #footer-label{
    font-size: 2.5vw;
    margin-right: 25%;
  }
  .contact{
    margin-top: 1vh;
    width: 45vw;
  }
  .footer-contact{
    margin-right: 0;
    margin-top: 2vh;
  }
  #footer-fb, #footer-phone, #footer-loc, #footer-email{
    font-size: 1.6vw;
  }
  .fb-icon{
    padding: 1.5% 3%;
  }
  .loc-icon{
    padding: 1.5% 2.5%;
  }
  .email-icon{
    padding: 1.5%;
  }
  .contact:first-child{
    margin-top: 4%;
  }
}