.find-instructor {
  z-index: 1;
  position: absolute;
  background-color: #eeeeee;
  width: 32vw;
  top: 0;
  margin-top: 10em;
  margin-left: 0.1em;
  font-size: 1.2em;
  border-radius: 0.25em;
  text-transform: uppercase;
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.instructor-suggestions {
  padding: 0.25em;
  width: 100%;
}
.instructor-suggestions:hover {
  background-color: #cfc6c6;
  width: 98%;
  /* padding: 0; */
  /* margin-left: -0.1em; */
  /* width: 100%; */
}
.instructor-suggestions:first-child:hover{
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}
.instructor-suggestions:last-child:hover{
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.faculty-remove-btn {
  margin-top: 1%;
  margin-left: 1%;
  height: 5vh;
  border-radius: 1em;
  border: none;
  line-height: 0;
  background-color: white;
  color: #a50c0c;
  border: 1px solid #a50c0c;
  font-size: 1em;
  padding: 1.5% 2%;
  transition: all 0.5s;
}
.faculty-remove-btn:hover {
  cursor: pointer;
  color: white;
  background-color: #a50c0c;
  transform: translateY(-0.3em);
}
