#to-label {
  margin-left: 10.5%;
}
#from-label {
  margin-left: 16%;
}
#request-status-dropdown {
  padding: 1% 5% 1% 1%;
  margin-bottom: 2%;
}
#todate-filter {
  margin-left: 6%;
}
#fromdate-filter {
  margin-left: 3%;
}
.datepicker {
  padding: 1%;
  width: 12%;
}
.filter-logs {
  position: absolute;
  width: 74%;
  padding: 1% 3% 1% 3%;
  background-color: white;
  height: auto;
  margin-top: 2%;
  /* margin-left: 17.5%; */
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.filter-labels {
  margin-top: 2%;
  margin-bottom: 0.5%;
  font-weight: bold;
}
.filter-labels::after {
  content: "\A";
  white-space: pre;
}
#clear-filter {
  border: none;
  margin-left: 3%;
  padding: 1%;
  border-radius: 1em;
  background-color: #8c0000;
  color: white;
}
#clear-filter:hover {
  background-color: #bd3a3a;
}
