.request-info {
  padding: 7%;
  background-color: white;
  box-shadow: 5px 5px 9px rgb(0, 0, 0, 0.3);
  margin-bottom: 30%;
  transition: all 1s;
}
.request-info:hover {
  transform: translateY(-0.2em);
}
#request-info-label {
  margin-bottom: 5%;
  font-size: 1.5vw;
  font-weight: bold;
}
#request-fac {
  width: 30vw;
  height: 5vh;
  margin-bottom: 3%;
  padding: 0 2%;
  border: 1px solid rgb(168, 167, 167);
  background-color: #eeeeee;
}
#request-reason {
  width: 45.5vw;
  height: 5vh;
  padding: 0 2%;
  border: 1px solid rgb(168, 167, 167);
  background-color: #eeeeee;
}
#request-subj-desc {
  width: 25vw;
  height: 5vh;
  padding: 0 2%;
  border: 1px solid rgb(168, 167, 167);
  background-color: #eeeeee;
}
#request-subj-code {
  width: 17vw;
  height: 5vh;
  padding: 0 2%;
  border: 1px solid rgb(168, 167, 167);
  background-color: #eeeeee;
}
#request-subj-sem {
  width: 17vw;
  height: 5vh;
  padding: 0 2%;
  border: 1px solid rgb(168, 167, 167);
  background-color: #eeeeee;
}
#request-subj-year,
#request-end-year {
  width: 12vw;
  height: 5vh;
  padding: 0 2%;
  border: 1px solid rgb(168, 167, 167);
  background-color: #eeeeee;
}
#err {
  color: red;
  position: absolute;
}
#request-end-year {
  margin-left: 2vw;
}
#subject-year-container {
  display: flex;
}
.request-info-two,
.request-info-three {
  display: inline-block;
  margin-bottom: 3%;
}
.request-info-three {
  margin-left: 8%;
}
.request-info-four,
.request-info-five {
  display: inline-block;
  margin-bottom: 3%;
}
.request-info-five {
  margin-left: 8%;
}
@media only screen and (max-width: 768px) {
  .request-info {
    width: 70vw;
  }
  #request-fac {
    width: 65vw;
  }
  #request-subj-code {
    width: 20vw;
  }
  #request-subj-desc {
    width: 40vw;
  }
  #request-subj-sem {
    width: 30vw;
  }
  #request-subj-year {
    width: 30vw;
  }
  #request-reason {
    width: 65vw;
  }
}
