* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
}
/* this contradicts with the logreg pages' background color */
.request-body {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: #fafafa;
}
#request-form-btn {
  margin-top: 6%;
  border: none;
  padding: 1%;
  border-radius: 2em;
  font-size: 1vw;
  margin-bottom: 2%;
  margin-left: 83vw;
  color: #630606;
  font-weight: 550;
  background-color: transparent;
  border: 2px solid #630606;
}
#request-form-btn:hover {
  background-color: #630606;
  color: white;
}
#request-label {
  margin-left: 50.5vw;
  margin-top: 1vh;
  font-size: 2vw;
}
#request-log {
  width: 100%;
  box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 4vh;
}
.request-content {
  position: absolute;
  width: 80%;
  height: auto;
  margin-top: 13%;
  margin-left: 17.5%;
}
.request-content tr,
.request-content th {
  margin: 0;
  font-size: 1vw;
  padding: 2vw;
}
.request-content tr{
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  transition: all 1s;
  background-color: white;
}
.request-content tr:not(:first-child):hover{
  transform: scale(1.04);
}
#request-log tr:first-child {
  background-color: #630606;
  color: white;
}
#request-log tr:nth-child(even) {
  background-color: #E6DEDD;
}
.request-filter-center {
  margin-left: 17.5vw;
  margin-top: 3em;
}
@media only screen and (max-width: 768px){
  #request-label {
    text-align: center;
    margin-left: 0;
    margin-top: 30vh;
    font-size: 4vw;
  }
  .request-content {
    margin: 13vh 0 0 7vw;
  }
  #request-form-btn {
    position: absolute;
    margin: 20vh 0;
    right: 0;
    padding: 1.25% 2%;
    font-weight: 400;
  }
}
