#stud-course {
  width: 15.75vw;
  height: 5vh;
  padding: 0 2%;
  border: 1px solid rgb(168, 167, 167);
  background-color: #eeeeee;
}
#stud-info-label {
  margin-bottom: 5%;
  font-size: 1.5vw;
  font-weight: bold;
}
#stud-name {
  width: 26vw;
  height: 5vh;
  padding: 0 2%;
  border: 1px solid rgb(168, 167, 167);
  background-color: #eeeeee;
}
#stud-no {
  width: 21vw;
  height: 5vh;
  padding: 0 2%;
  border: 1px solid rgb(168, 167, 167);
  background-color: #eeeeee;
  margin-bottom: 5%;
}
#stud-section {
  width: 13.75vw;
  height: 5vh;
  padding: 0 2%;
  border: 1px solid rgb(168, 167, 167);
  background-color: #eeeeee;
}
#stud-year {
  width: 13.75vw;
  height: 5vh;
  padding: 0 2%;
  border: 1px solid rgb(168, 167, 167);
  background-color: #eeeeee;
}
.student-info,
.processing-student-info {
  padding: 7%;
  background-color: white;
  box-shadow: 5px 5px 9px rgb(0, 0, 0, 0.3);
  margin-bottom: 5%;
  transition: all 1s;
}
.student-info:hover,
.processing-student-info:hover {
  transform: translateY(-0.2em);
}
.processing-student-info {
  padding: 0;
  padding-bottom: 10vh;
  text-align: center;
}
.stud-info-three,
.stud-info-four,
.stud-info-five {
  display: inline-block;
  margin-bottom: 4%;
}
.stud-info-five {
  margin-left: 7%;
}
.stud-info-four {
  margin-left: 7%;
}
.stud-info-one,
.stud-info-two {
  display: inline-block;
}
.stud-info-two {
  margin-left: 7%;
}

.stud-field-labels{
  font-size: 1.2em;
  font-weight: 700;
}

/**FOR PROCESS**/
#processing-request,
#denied-request {
  font-size: 2.5vw;
  text-align: center;
  color: rgb(22, 113, 22);
}
#denied-request {
  color: red;
}
#processing-desc,
#denied-desc {
  font-size: 1.5vw;
  text-align: center;
  font-style: italic;
  color: rgb(49, 196, 49);
}
#denied-desc {
  color: red;
}
.processing-gif {
  height: 50vh;
}
.field-labels {
  font-size: 1.2em;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .student-info {
    width: 74.5vw;
  }
  #stud-course {
    width: 10vw;
  }
  #stud-course,
  #stud-year,
  #stud-section {
    padding-left: 1.5vw;
  }
  #stud-name {
    width: 35vw;
  }
  #stud-no {
    width: 25vw;
  }
}
