#instructor-img {
  /* margin: 7% 0 0 9%; */
  margin: 10vh 0 0.5vh 8vw;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 12px solid white;
}
#instructor-name {
  font-size: 2vw;
  margin: 0.5vh 7.5vw;
  width: 15vw;
  text-align: center;
}
#instructor-college {
  text-align: center;
  width: 20vw;
  margin: 1.5vh 5vw;
  font-size: 1vw;
  font-style: italic;
  text-align: center;
}
