.no-submitted-request-tr {
  height: 5em;
  text-align: center;
}
.no-submitted-request-td {
  text-align: center;
  font-weight: bold;
  font-size: 3.5vh;
}
.request-list-tr:nth-child(even) {
  background-color: #f2f2f2;
}
