.log {
  width: 82.5vw;
}
#list-label {
  text-align: center;
  /* margin-left: 2.5%; */
}
.list-content table{
  background-color: white;
  margin: 3vh 0 0 1.25vw;
}
.list-content tr:first-child {
  background-color: #8c0000;
  color: white;
}

.list-content table,
.list-content tr,
.log th {
  border-collapse: collapse;
  border: 0.5px solid black;
  padding: 1.75%;
}
.list-content table,
.admin-request-content table {
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
}