.list-content {
  background-color: white;
  position: absolute;
  width: 95%;
  height: auto;
  margin-top: 2%;
  margin-left: 1.5%;
}
#log {
  width: 100%;
}
#list-label {
  text-align: center;
  margin-left: 2.5%;
}
tr:first-child {
  background-color: #8c0000;
  color: white;
}

table,
tr,
th {
  border-collapse: collapse;
  border: 0.5px solid black;
  padding: 2%;
}
table {
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
