.log {
  width: 82.5vw;
}
#list-label {
  text-align: center;
  margin-left: 13vw;
  /* margin-left: 2.5%; */
}
.list-content table{
  background-color: white;
  margin: 3vh 0 0 16vw;
}
.list-content tr:first-child {
  background-color: #890F0D;
  color: white;
  font-size: 1vw;
}
.list-content tr{
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.list-content tr,
.log th {
  padding: 1.75%;
  font-size: 1vw;
  transition: all 1s;
}
.list-content table,
.admin-request-content table {
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.list-content tr:not(:first-child){
  background-color: white;
}
.list-content tr:not(:first-child):hover{
  transform: scale(1.03);
}